<div class="content-wrapper">
    <h1 class="section-title">Trails</h1>
    <div class="stats-grid">
        <article class="stats-card">
            <div class="info-box">
                <h3 class="info-label">Current Language</h3>
                <p class="info-value">Java</p>
            </div>
        </article>
        <article class="stats-card">
            <div class="info-box">
                <h3 class="info-label">Current Exercise</h3>
                <p class="info-value">Exercise 2</p>
            </div>
        </article>
        <article class="stats-card">
            <div class="info-box">
                <h3 class="info-label">Exercise Completed</h3>
                <p class="info-value">1</p>
            </div>
        </article>
        <article class="stats-card">
            <div class="info-box">
                <h3 class="info-label">Last Challenge</h3>
                <p class="info-value">"Hello World"</p>
            </div>
        </article>
    </div>
</div>