<section class="stats-container">
    <div class="stats-grid">
        <article class="stat-card">
            <h3 class="stat-title">Total Points</h3>
            <p class="stat-value">3.000</p>
        </article>
        <article class="stat-card">
            <h3 class="stat-title">Current Rank</h3>
            <p class="stat-value">Top 1</p>
        </article>
        <article class="stat-card">
            <h3 class="stat-title">Current Badge</h3>
            <p class="stat-value">Explorer 01</p>
        </article>
        <article class="stat-card">
            <h3 class="stat-title">Last Challenge</h3>
            <p class="stat-value">"Hello World"</p>
        </article>
    </div>
</section>