<main class="dashboard-container">
    <div class="dashboard-wrapper">
        <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/488eda03dadc464d9f061e6f2fbf3e3d/0d5ddb08267a09a9951122469a3af2551326c272fb0566950e77db4b3c8990ad?apiKey=488eda03dadc464d9f061e6f2fbf3e3d&"
            alt="" class="background-image" />
        <app-dashboard-header></app-dashboard-header>
        <section class="dashboard-content">
            <app-dashboard-sidebar></app-dashboard-sidebar>
            <div class="main-content">
                <app-dashboard-stats></app-dashboard-stats>
                <app-dashboard-rank></app-dashboard-rank>
            </div>
        </section>
    </div>
</main>