<section class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <!-- Página 1 -->
            <section class="hero-section">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/488eda03dadc464d9f061e6f2fbf3e3d/d1a92af977486f068dc5669ca5ad0bd6b6d23ee67e9703225ec0b3918147fdda?apiKey=488eda03dadc464d9f061e6f2fbf3e3d&"
                    class="hero-background" alt="" role="presentation" />
                <h1 class="brand-logo">A</h1>
                <section class="hero-content">
                    <p class="tagline">Afterlight</p>
                    <h2 class="main-heading">A New Way of Coding</h2>
                </section>
                <app-custom-button></app-custom-button>
            </section>
        </div>
        <div class="swiper-slide">
            <!-- Página 2 -->
            <section class="page-section">
                <app-home-page2></app-home-page2>
            </section>
        </div>
        <div class="swiper-slide">
            <!-- Página 3 -->
            <section class="page-section">
                <app-home-page3></app-home-page3>
            </section>
        </div>
        <div class="swiper-slide">
            <!-- Página 4 -->
            <section class="page-section">
                <app-home-page4></app-home-page4>
            </section>
        </div>

    </div>

    <!-- Adicione a paginação -->
    <div class="swiper-pagination"></div>
</section>